==
<section id="about" dir="rtl">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">ماهو رقم IMEI</h2>
            <p class="text-center wow fadeInDown">التعريف الدولي للأجهزة المحمولة</p>
        </div>

        <div class="row">
            {#<div class="col-sm-6 wow fadeInLeft">
                <h3 class="column-title">Video Intro</h3>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="//player.vimeo.com/video/58093852?title=0&amp;byline=0&amp;portrait=0&amp;color=e79b39" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>#}

            <div class="col-sm-6 wow ">
                <h3 class="column-title">رقم التعريف الدولي للأجهزة المحمولة (IMEI)</h3>
                <p> لاهو رقم تعريف فريد أو رقم تسلسلي تمتلكه جميع الهواتف المحمولة والهواتف الذكية. عادة ما يكون طوله 15 رقمًا.
                </p>
                <p>يمكن العثور على رقم IMEI على الملصق الفضي الموجود على ظهر هاتفك ، أو أسفل حزمة البطارية ، أو في العلبة التي جاء فيها هاتفك.</p>
                <p>يمكنك أيضًا عرض رقم IMEI على شاشة هاتفك المحمول أو هاتفك الذكي عن طريق إدخال * # 06 # في لوحة المفاتيح. </p>
            </div>
            
            <div class="col-sm-6 wow ">
                <h3 class="column-title">منصة IMEI السودان</h3>
                <p>
                هي منصة لتسجيل أي عملية سرقة للهواتف المحمولة والأجهزة الحديثة ، وإتاحة الفرصة لأي مشتري من التحثث من أن الجهاز المراد شراءة غير مسروق، عبر التحقق من رقم المعرف الدولي للجهاز في المنصة للتثلثل من حالات السرقة و الحيطة من شراء الأجهزة المسروقة
                </p>
            </div>
            
        </div>
    </div>
</section>
<!--/#about-->