==
<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url({{'assets/theme/images/slider/bg3.jpg'|theme}});">
            <div class="slider-inner">
                <div class="container">
                    <div class="row" dir="rtl">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2><span></span> منصة (IMEI) السودان</h2>
                                <p>
                                    مرحبا بكم في المنصة السودانية للمعرف الدولي للأجهزة المحمولة
                                </p>
                                <a class="btn btn-primary btn-lg" href="#about">لمعرفة المزيد</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.item-->
        <div class="item" style="background-image: url({{'assets/theme/images/slider/bg4.jpg'|theme}});">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2>IMEI Sudan</h2>
                                <p>Welcome to the Sudanese platform for the international identification of mobile devices</p>
                                <a class="btn btn-primary btn-lg" href="#about">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.item-->
    </div>
    <!--/.owl-carousel-->
</section>